:root {
  --screen-black: rgba(24, 24, 24, 1);
  --mont-16-font-family: "Montserrat", Helvetica;
  --mont-16-font-weight: 400;
  --mont-16-font-size: 16px;
  --mont-16-letter-spacing: 0px;
  --mont-16-line-height: 32px;
  --mont-16-font-style: normal;
  --mont-18-font-family: "Montserrat", Helvetica;
  --mont-18-font-weight: 500;
  --mont-18-font-size: 18px;
  --mont-18-letter-spacing: 0px;
  --mont-18-line-height: 28px;
  --mont-18-font-style: normal;
  --urbanist-font-family: "Urbanist", Helvetica;
  --urbanist-font-weight: 600;
  --urbanist-font-size: 64px;
  --urbanist-letter-spacing: 0px;
  --urbanist-line-height: normal;
  --urbanist-font-style: normal;
  --mont-semi-30-font-family: "Montserrat", Helvetica;
  --mont-semi-30-font-weight: 600;
  --mont-semi-30-font-size: 30px;
  --mont-semi-30-letter-spacing: 0px;
  --mont-semi-30-line-height: 42px;
  --mont-semi-30-font-style: normal;
  --mont-semi-20-font-family: "Montserrat", Helvetica;
  --mont-semi-20-font-weight: 600;
  --mont-semi-20-font-size: 20px;
  --mont-semi-20-letter-spacing: 0px;
  --mont-semi-20-line-height: 32px;
  --mont-semi-20-font-style: normal;
  --mont-bold-font-family: "Montserrat", Helvetica;
  --mont-bold-font-weight: 700;
  --mont-bold-font-size: 18px;
  --mont-bold-letter-spacing: 0px;
  --mont-bold-line-height: 28px;
  --mont-bold-font-style: normal;
  --mont-1-6semibold-font-family: "Montserrat", Helvetica;
  --mont-1-6semibold-font-weight: 600;
  --mont-1-6semibold-font-size: 16px;
  --mont-1-6semibold-letter-spacing: 0px;
  --mont-1-6semibold-line-height: 20px;
  --mont-1-6semibold-font-style: normal;
  --mont-14-font-family: "Montserrat", Helvetica;
  --mont-14-font-weight: 500;
  --mont-14-font-size: 14px;
  --mont-14-letter-spacing: 0px;
  --mont-14-line-height: 20px;
  --mont-14-font-style: normal;
  --mont-16-reg3-font-family: "Montserrat", Helvetica;
  --mont-16-reg3-font-weight: 400;
  --mont-16-reg3-font-size: 16px;
  --mont-16-reg3-letter-spacing: 0px;
  --mont-16-reg3-line-height: 26px;
  --mont-16-reg3-font-style: normal;
  --body-regular-16px-font-family: "Roboto", Helvetica;
  --body-regular-16px-font-weight: 400;
  --body-regular-16px-font-size: 16px;
  --body-regular-16px-letter-spacing: 0px;
  --body-regular-16px-line-height: 24px;
  --body-regular-16px-font-style: normal;
  --heading-h5-medium-font-family: "Roboto", Helvetica;
  --heading-h5-medium-font-weight: 500;
  --heading-h5-medium-font-size: 24px;
  --heading-h5-medium-letter-spacing: 0px;
  --heading-h5-medium-line-height: 36px;
  --heading-h5-medium-font-style: normal;
  --body-regular-20px-font-family: "Roboto", Helvetica;
  --body-regular-20px-font-weight: 400;
  --body-regular-20px-font-size: 20px;
  --body-regular-20px-letter-spacing: 0px;
  --body-regular-20px-line-height: 30px;
  --body-regular-20px-font-style: normal;
  --text-h3-font-family: "Montserrat", Helvetica;
  --text-h3-font-weight: 400;
  --text-h3-font-size: 16px;
  --text-h3-letter-spacing: 0px;
  --text-h3-line-height: normal;
  --text-h3-font-style: normal;
  --button-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --soft-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  --hard-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  --4uwell-1-base-base-white: rgba(250, 250, 250, 1);
  --4uwell-1-primary-primary: rgba(92, 45, 145, 1);
  --4uwell-1-primary-primary100: rgba(234, 224, 246, 1);
  --4uwell-1-neutrals-base-white: rgba(250, 250, 250, 1);
  --4uwell-1-primary-primary100-duplicate: rgba(234, 224, 246, 1);
  --4uwell-1-base-base-white-duplicate: rgba(250, 250, 250, 1);
  --4uwell-1-neutrals-base-white-duplicate: rgba(250, 250, 250, 1);
  --4uwell-1-primary-primary-duplicate: rgba(92, 45, 145, 1);
  --colors-primary-300: rgba(102, 129, 115, 1);
  --colors-others-white: rgba(255, 255, 255, 1);
  --colors-neutral-100: rgba(242, 244, 247, 1);
  --colors-neutral-200: rgba(234, 236, 240, 1);
  --colors-neutral-300: rgba(208, 213, 221, 1);
  --colors-neutral-400: rgba(152, 162, 179, 1);
  --colors-neutral-500: rgba(102, 112, 133, 1);
  --colors-neutral-600: rgba(71, 84, 103, 1);
  --colors-neutral-800: rgba(29, 41, 57, 1);
  --colors-others-white-duplicate: rgba(255, 255, 255, 1);
  --colors-neutral-400-duplicate: rgba(152, 162, 179, 1);
  --colors-neutral-100-duplicate: rgba(242, 244, 247, 1);
  --colors-primary-300-duplicate: rgba(102, 129, 115, 1);
  --colors-neutral-800-duplicate: rgba(29, 41, 57, 1);
  --colors-neutral-500-duplicate: rgba(102, 112, 133, 1);
  --colors-neutral-600-duplicate: rgba(71, 84, 103, 1);
  --colors-neutral-300-duplicate: rgba(208, 213, 221, 1);
  --variable-collection-primary: rgba(92, 45, 145, 1);
  --variable-collection-primary-3: rgba(157, 129, 189, 1);
  --variable-collection-primary-3-duplicate: rgba(157, 129, 189, 1);
  --variable-collection-primary-duplicate: rgba(92, 45, 145, 1);
  --collection-1-cart-till: 0px;
}
